body {
    font-family: 'PingFang SC';
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.page-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    margin-right: 50px;
}

.news-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.news-item {
    padding: 15px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.news-title {
    font-size: 22px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.news-title:hover {
    color: #0056b3;
}

.news-author {
    color: #777;
    font-size: 12px;
    margin-top: 5px;
}

.news-content {
    color: #555;
    margin: 10px 0;
}

.news-time,
.news-likes,
.news-comments {
    color: #777;
    font-size: 12px;
    margin-top: 5px;
}

.no-news {
    color: #777;
    font-size: 16px;
    text-align: center;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.step-links {
    display: inline-block;
    font-size: 16px;
}

.step-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease;
}

.step-links a:hover {
    color: #0056b3;
}

.current-page {
    font-weight: bold;
    margin: 0 5px;
}

.page-form {
    display: inline-block;
    margin-top: 10px;
}

.page-form label {
    margin-right: 5px;
}

.page-form input[type="number"] {
    width: 50px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.page-form button.go-button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.page-form button.go-button:hover {
    background-color: #0056b3;
}

.nav {
    display: flex;
}

.nav-item {
    margin-right: 40px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}